{% extends "base.html" %}
{% block content %}
<div class="create7-wrapper">
  <div class="left-panel">

    <div class="command-box">
      <input id="commandInput" type="text" placeholder="What do you want to create?" />
      <div class="action-buttons">
        <button class="btn" onclick="generateOutput()">Generate</button>
        <button class="btn" onclick="saveProject()">Save</button>
        <button class="btn" onclick="toggleDeviceView()">Switch View</button>
        <button class="btn" onclick="resetContext()">Reset</button>
      </div>
      <ul id="suggestions" class="suggestion-list"></ul>
    </div>

    <div class="tab-buttons">
      <button data-tab="code" onclick="switchView('code')" class="tab active">Code</button>
      <button data-tab="output" onclick="switchView('output')" class="tab">Output</button>
    </div>

      <!-- Monaco Editors -->
    <div id="codeView">
      <div class="code-output" >
        <div id="htmlEditor" class="code-editor"></div>
        <div id="cssEditor" class="code-editor hidden"></div>
        <div id="jsEditor" class="code-editor hidden"></div>
        <div id="backendEditor" class="code-editor hidden"></div>
      </div>
    </div>
  </div>

  <div id="outputView" class="hidden">
    <div class="right-panel">
      <div class="preview-toolbar">
        <h4>File</h4>
      </div>
      <div class="file-box">
        <p>new_file.py</p>
      </div>
      <iframe id="livePreview" class="preview-box desktop-view"></iframe>
    </div>
  </div>
</div>
{% endblock %}



