{% extends 'base.html' %}

{% block content %}
<div class="dashboard">
  <h1>Welcome to your Dashboard</h1>
  <p class="dashboard-subtitle">Manage your apps, view history, and explore templates - all in one place</p>

  <div class="dashboard-titles">
    <div class="dashboard-title">
      <h3>Start a New Project</h3>
      <p>Create something from scratch using your ideas.</p>
      <a href="{{ url_for('create7') }}" class="btn">Launch Builder</a>
    </div>
    <div class="dashboard-title">
      <h3>My Projects</h3>
      <p>View and mangae your previously generated projects.</p>
      <a href="{{ url_for('my_projects') }}" class="btn">Open Projects</a>
    </div>
    <div class="dashboard-title">
      <h3>Templates</h3>
      <p>Use pre-built layout to build faster.</p>
      <a href="{{ url_for('template') }}" class="btn">Browse Templates</a>
    </div>
  </div>
</div>
{% endblock %}