<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Conversion History</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Conversion History</h1>

    {% if history %}
      <ul>
        {% for item in history %}
          <li>
            <strong>{{ entry.timestamp if entry.timestamp else "N/A"}}</strong> -
            <strong>{{ entry.mode if entry.mode else "N/A" }}</strong>:
            <code>{{ entry.input if entry.input else "N/A" }}</code> ->
            <code>{{ entry.result if entry.result else "N/A" }}</code>

          </li>
        {% endfor %}
      </ul>

    <form method="POST" action="/clear">
      <button type="submit">Clear History</button>
    </form>

    <br>
    <a href="/" class="btn">Back to Converter</a>
  </div>
</body>
</html>
