{% extends 'base.html' %}

{% block content %}

<div class="main-section">
  <h1 class="section-title">My Projects</h1>

  <div class="project-grid">
    {% if projects %}
      {% for project in Projects %}
        <div class="project-card">
          <h3 class="project-description">{{ project.description }}</h3>
          <pre class="project-code">{{ project.code }}</pre>
          <p class="timestamp">Created: {{ project.timestamp.strftime('%Y-%m-%d %H:%M') }}</p>

        </div>
      {% endfor %}
    {% else %}
      <p class="no-projects">You haven't created any projects yet.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
